<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/svg+xml" href="../favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/lstm.css">

    <title>feedforward neural network GPU method</title>
</head>

<body>

    <div class="page-wrapper">
        <header class="page-header">
            <div class="logo">GPU Neural Network method</div>
            <div class="home-items">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../views/LSTM.html">LSTM</a></li>
                    <li><a href="../views/RNN.html">RNN</a></li>
                    <li><a href="../views/GRU.html">GRU</a></li>
                    <li><a href="../views/ffneuralnetwork.html">Neural Network</a></li>
                    <li><a href="../views/ffneuralnetworkGPU.html">GPU</a></li>
                    <li><a href="../views/imgrecognition.html">Images</a></li>
                </ul>
            </div>
        </header>

        <div class="nn-wrapper">
            <h1 class="nn-title"><u> Try our GPU Feedforward Neural Network method</u></h1>
            <h3 class="nn-desc">Lorem ipsum</h3>
            <button id="Train-NN-GPU">Click</button>


        </div>

        <footer class="footer-wrapper">
            <img class="zuyd-logo" href="https://www.zuyd.nl/" src="../assets/icons/LogoZUYD-footer.png">
            <div class="made-by">
                Gemaakt door: <strong> Max Kleinman, Jeremy Aué, Roy Wendries & Tonito Kusters-Hernandez </strong>
            </div>
        </footer>
    </div>
</body>

<script type="module" src="../js/main.js"></script>
<script type="module" src="../js/ffneuralnetworkGPU.js"></script>

</html>