<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/svg+xml" href="../favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/lstm.css">

    <title>lstm method</title>
</head>

<body>

    <div class="page-wrapper">
        <header class="page-header">
            <div class="logo">LSTM Method</div>
            <div class="home-items">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../views/LSTM.html">LSTM</a></li>
                    <li><a href="../views/imgrecognition.html">Neural Net</a></li>
                </ul>
            </div>
        </header>

        <div class="nn-wrapper">
            <h1 class="nn-title"><u> Try our LSTM Method</u></h1>
            <h3 class="nn-desc">This Neural Network will try and guess if your sentence is talking about frontend or backend<br><br>1. Train the model<br>2. Try and enter a sentence</h3>

            <label class="upload-wrapper">
                <input type="file" id="Upload-Dataset">
                Upload Dataset
            </label>

            <label class="upload-wrapper">
                <input type="file" id="Upload-NN">
                Load neural network
            </label>
            <button id="Train-NN">Train neural network</button><br>
            <div class="slidecontainer">
                <h3>Select Iterations</h3>
                <input type="range" min="1" max="10000" value="200" class="slider" id="Input-Iterations">
                <input type="text" id="Iterations-Show">
            </div>

            <input type="text" id="Input-ErrorThresh" placeholder="Enter Error threshold (0-1)">
            <button id="Submit-ErrorThresh">Submit</button>

            <input type="text" id="Input-NN" placeholder="Enter a scentence">
            <button id="Submit-input">Submit</button>
            <div class="nn-output">
                <h1>Output:</h1>
                <h1 id="Output-NN"></h1>
            </div>
            <a id="downloadAnchorElem" style="display:none"></a>
        </div>

        <footer class="footer-wrapper">
            <img class="zuyd-logo" href="https://www.zuyd.nl/" src="../assets/icons/LogoZUYD-footer.png">
            <div class="made-by">
                Gemaakt door: <strong> Max Kleinman, Jeremy Aué, Roy Wendries & Tonito Kusters-Hernandez </strong>
            </div>
        </footer>
    </div>
</body>

<script type="module" src="../js/LSTM.js"></script>

</html>